# <%= javascript_include_tag '/assets/landing' %>
# <%= javascript_include_tag '/assets/video' %>

<!-- video -->
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="https://res.cloudinary.com/drzsplf7y/video/upload/v1481712995/Lonely-Blue_le0apv.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://res.cloudinary.com/drzsplf7y/video/upload/v1481713011/Lonely-Blue_tozfyc.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="https://res.cloudinary.com/drzsplf7y/image/upload/v1481712858/Lonely-Blue_gs7t4c.jpg" alt="">
        </div>
        <section class="intro-header">
          <div class="container">
            <div class="row">
                <div class="intro-message">
                  <img class="animated slideInRight" src="https://res.cloudinary.com/drzsplf7y/image/upload/v1481712896/final_logo_white_hf14ex.png" alt="Mountain View" style="width:243px;height:180px;">
                  <h3 class="animated bounceInLeft" id="uvp">We make it easy to go surfing.</h3>
                  <hr class="intro-divider">
                  <ul class="list-inline intro-social-buttons">
                    <br>
                    <li>
                      <a data-scroll href="#search-button" class="btn btn-default btn-lg find-trip custom-button">Find Trip</a>
                    </li>
                    <li>
                      <a href="/trips/new" class="btn btn-default btn-lg custom-button">Create Trip</a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </section>
    </div>
</div>

<section class="bg-primary" id="search">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 class="section-heading">Search for a trip</h2>
        <hr>
        <p class="text-faded"></p>
        <div class="search_form">




          <form class="form-inline">
            <div class="form-group row">
              <label>Location:</label>
              <input type="text" class="js-search-trip form-control">
              <label>Departing Between:</label>
              <input type="date" class="js-from-date-trip form-control">
              <label>&</label>
              <input type="date" class="js-to-date-trip form-control">
              <button data-scroll href="#map" type="button" class="page-scroll btn btn-default btn-xl " id="search-button">Search</button>
            </div>
          </form>
            <%= text_field :country_search, value = nil, class: "js-country-trip form-control hidden", disabled: "true"%>
        </div>
      </div>
    </div>
  </div>
</section>


<div id="map" class="map-area">
  <div class="container">
    <br>
  <div class="page-header">
    <h2 class="text-center">There are hundreds of surf trips waiting for you to join...</h2>
      </div>
         <div class="box text-center">
             <div class="box-content">
                  <h1></h1>
                 <div class="col-md-4">
                  <h4>Flexi-Search</h4>
                  <hr>
                  <h5>Know where you want to go?</h5>
                  <p> Search by city, region or any specific beach!</p>
                  <br>
                  <h5>No destination in mind? </h5>
                  <p>Try searching a specific country</p>

                 </div>
                <div class="col-md-4">
                  <h4>Van-coded</h4>
                  <hr>
                 <p style="float: left, padding-left: 30px;"><img src="https://res.cloudinary.com/drzsplf7y/image/upload/v1481805182/azul_h4qznj.png" height="50px" width="60px" padding="10px">      Start Point</p>
                 <p><img src="https://res.cloudinary.com/divgxbjh0/image/upload/v1481653467/logo_transparente_hsv4qb.png" height="50px" width="60px"> Destination</p>
                </div>
                <div class="col-md-4">
                  <h4>Color-coded</h4>
                  <hr>
                  <p style="color: green">Begginner</p>
                  <p style="color: orange">Intermediate</p>
                  <p style="color: red">Advanced</p>
                  <p style="color: black">Expert</p>
                </div>
                 <br />
             </div>
         </div>
       </div>
</div>

<script>
    smoothScroll.init({
    selector: '[data-scroll]',
    speed: 1000,
    easing: 'easeInOutCubic',
    offset: 196
  });

</script>
