html, body {
  padding-top: 25px;
  height: 100%;
  width: 100%;
}

.topnav {
    font-size: 14px;
    background-color: #132038;
    text-transform: uppercase;
} 

.navbar-inverse .navbar-nav>li>a {
  color: #e0e0e0;
}

.navbar-inverse {
  border-color: #132038;
}

.navbar-right>li>a {
  padding-top: 22px;
  padding-right: 20px;
}

.navbar {
  min-height: 64px;
}

.navbar-image {
  height: 60px;
  width: auto;
  padding: 2px;
  margin-left: -20px;
}

#search {
  background-color: #132038;
  padding-top: 30px;
  padding-bottom: 30px;

}

#search_button {
  margin-left: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.map-area {
  padding: 0px 0;
  height: 100%;
  width:100%;
  }

#map {
  height: 60vh;
  width: 100%;
}

#uvp {
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    color: #f8f8f8;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/*section {
  padding: 60px 0;
}*/

.section-heading {
  color: #f4f4f4;
}

.search_button {
  margin: 30px;
}

.form-control {
  margin: 10px;
}

.navbar-footer {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.3);
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding-right: 30px;
}

.panel-request {
  text-align: left;
  background-color: #132038;
  color: #ccc;
  margin:15px;
  border-color: #132038;
}
