html, body {
  padding-top: 25px;
  height: 100%;
  width: 100%;
}

.topnav {
    font-size: 14px;
    background-color: rgb(6, 6, 8);
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

#search {
  background-color: #286090;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}

.map_area {
  padding: 0px 0;
  height: 100%;
  width:100%;
  visibility: hidden;
  }

#map {
  height: 50vh;
  width: 100%;
}

#uvp {
  font-size: 45px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*background: url(headerjohn4.jpg) no-repeat center center;*/
    /*background-size: cover;*/
}


.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/*p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}*/

section {
  padding: 100px 0;
}

.search_button {
  margin: 30px;
}

.form-control {
  margin: 10px;
}

.navbar-footer {
  margin-bottom: 0px;
  margin-top: 10px;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
