<div class="row navbar-footer">
  <div class="navbar-footer">
      <p class="navbar-text">© 2016 - Site Built By @ajoered.
      </p>
      <a href="https://github.com/alvarojoered" class="navbar-btn btn-default btn pull-right">Github</a>
  </div>
</div>
