<div class="row navbar-footer-fixed" style="margin:0px;">
  <div class="navbar-footer-fixed">
      <p class="navbar-text" style="padding-left:20px;">© 2016 - Site Built By @ajoered - <a href="https://ajoered.com">www.ajoered.com</a>
      </p>
      <a href="https://github.com/alvarojoered" class="navbar-btn btn-default btn pull-right">Github</a>
  </div>
</div>
