<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <% if user_signed_in? %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left navbar-image"><img src="https://res.cloudinary.com/drzsplf7y/image/upload/v1481712896/final_logo_white_hf14ex.png" class="navbar-image"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a data-scroll href="#search-button" class="find-trip">Find Trips</a>
        </li>
        <li>
          <a href="/trips/new">Create Trips</a>
        </li>
        <li>
          <%= link_to current_user.name, profile_path %>
        </li>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    <% else %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left navbar-image"><img src="https://res.cloudinary.com/drzsplf7y/image/upload/v1481712896/final_logo_white_hf14ex.png" class="navbar-image"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a data-scroll href="#search-button" class="find-trip">Find Trips</a>
        </li>
        <li>
          <a href="/trips/new">Create Trips</a>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
  <!-- /.container -->
</nav>

<script>
   $(function() {
      $('.nav li a').click(function() {
         $('.nav li').removeClass();
         $($(this).attr('href')).addClass('active');
      });
   });
</script>
